.project {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.submit-btn-project {
  width: 104.5%;
  padding: 12px;
  font-size: 16px;
  color: #fff;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #1f2937;
}
