/* Base styling for the admin dashboard */
.admin-dashboard {
  padding: 20px;
  position: relative;
}

.admin-dashboard-h2 {
  margin-top: 20px;
  font-size: 1.5em;
}

.admin-dashboard-p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.materials-summary,
.total-cost {
  margin-top: 20px;
}

.materials-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.materials-table th,
.materials-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.materials-table th {
  background-color: #f4f4f4;
}

.total-cost {
  font-size: 1.2em;
}

.total-cost-span {
  font-weight: bold;
}

/* Styling for milestone filter */
.milestone-filter {
  margin-bottom: 20px;
}

.milestone-filter label {
  margin-right: 10px;
}

.milestone-filter select {
  padding: 5px;
}

.total-project-cost {
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-dashboard-cost {
  display: flex;
  flex-direction: row;
  gap: 530px;
  align-items: center;
}

@media screen and(max-width: 375px) {
  .admin-dashboard-cost {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .admin-dashboard-cost {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .admin-dashboard-cost {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .admin-dashboard-cost {
    display: flex;
    flex-direction: row;
    gap: 130px;
    align-items: center;
  }
}
